
h2 {
    font-size: 45px;
    font-family: 'Handlee';
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: bold;
    
}

h4 {
    font-size: 22px;
    font-family: 'Montserrat';
    font-weight: normal;
}

h5 {
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: bold;
}

h6 {
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: normal;
}

p {
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 25px;
}

button{
    font-size: 20px;
}

li {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: normal;
}