
h2 {
    font-size: 30px;
    font-family: 'Handlee';
    font-weight: lighter;
}

li {
    font-family: 'Montserrat';
    font-weight: light;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 20px;
}

h4 {
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: normal;
}

button{
    font-size: 18px;
}