header {
    background-color: black;

    ul {
        display: flex;
        justify-content: space-between;
        padding: 30px 60px;
    }
    
    a {
        color: white;
        text-decoration: none;
    }
    
    i {
        color: red;
    }
    
}

