.hero {
    background-color: rgb(32, 32, 32);
    height: 880px;
    
    .fondo {
        height: 100%;
    }
    img {
        opacity: 0.4;
        height: 100%;
        width: 100%;
        object-fit: cover;   
    }
}

.relative {
    position: relative;
    left: 0;
    top: -880px;
    
}

.text {
    position: absolute;
    top: 250px;
    left: 30px;
    color: white;

    h2 {
        margin-right: 25px;
        padding: 12px 0;
    }

    h4 {
        margin-right: 25px;
        padding: 12px 0;
    }

    .RS {
        padding: 20px 0;
        display: flex;
        gap: 40px;

        i {
            color: white;
        }
    }
}

button {
    background-color: rgba(250,87,58,255);
    color: white;
    border: none;
    padding: 20px;
    margin: 10px 0;
    width: fit-content;

}

button:hover {
    cursor: pointer;
    
}