.navm ul {
    margin-bottom: 50px;
    text-align: center;
}

.menu {
    padding: 40px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nHamb {
        color: rgb(155, 155, 155);
    }
}

.logo {
    width: 150px;
}

.menu2 {
    padding: 40px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    ul {
        display: flex;
    }
}

nav li {
    color: rgb(155, 155, 155);
    padding: 7px 12px;
}

.logo:hover {
    cursor: pointer;
}


.nInicioM:hover {
    cursor: pointer;
}

.nMenuM:hover {
    cursor: pointer;
}

.nBlogM:hover {
    cursor: pointer;
}

.nEquipoM:hover {
    cursor: pointer;
}

.nHamb:hover {
    cursor: pointer;
}

.nInicio:hover {
    cursor: pointer;
}

.nMenu:hover {
    cursor: pointer;
    color: rgba(250,87,58,255);
}

.nBlog:hover {
    cursor: pointer;
    color: rgba(250,87,58,255);
}

.nEquipo:hover {
    cursor: pointer;
    color: rgba(250,87,58,255);
}


