.computer {
    display: none;
}


@media (width > 768px) {
    
    .computer {
        display: block
    }

    .mobile {
        display: none;
    }

    header {
        ul {
            padding: 30px 40px;
        }
    }

    .articles1 {
        display: grid;
        grid-template-columns: 5% 28% 5% 28% 5% 28%;
    }

    .articles2 {
        display: grid;
        grid-template-columns: 1fr 0.2fr 1fr;
        
        figure {
            left: 50%;
            transform: translateX(-50%);
        }

        article {
            margin-top: 20px;
            grid-column: 3/4
        }
    }

    .legal:hover {
        color: rgba(250,87,58,255);
    }
    
    .cookies:hover {
        color: rgba(250,87,58,255);
    }
    
    .cuadrado {
        transition: transform 1s;
    }

    .hamburgueseria:hover {
        .cuadrado {
            transform: rotate(0deg);
        }
    }

    button:hover {
        cursor: pointer;
        background-color: transparent;
        color: rgba(250,87,58,255);
        border: 1px solid rgba(250,87,58,255);
        padding: 19px;
    }

    figure {
        margin-left: 30px;
    }
    
}

@media (width > 1250px) {
    
    .contact {
        justify-content: start;
        width: 1250px;
        margin:auto;
    }

    .navc {
        justify-content: start;
        width: 1250px;
        margin:auto;
    }
    
    .relative {
        justify-content: start;
        width: 1250px;
        margin:auto;
    }

    
    .articles2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        figure {
            left: 50%;
            transform: translateX(-50%);
        }

        article {
            margin-top: 20px;
            grid-column: 2/3
        }
    }

    .services, .us {
        justify-content: start;
        width: 1250px;
        margin:auto;
    }

    .footer {
        justify-content: start;
        width: 1250px;
        margin:auto;
    }
}